.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/* Responsive */

@media screen and (max-width: 420px) {
  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    display: block;
    float: none;
    width: auto;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
  }

  .row{
    margin: 0;
    padding-bottom: 50px;
    width: auto;
  }

  img {
    max-width: 80px;
    max-height: 80px;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width: 420px) and (max-width: 550px) {
  #lezioni .row > .right,
  #lezioni .row > .left,
  #steps .row > .right {
    display: block;
    float: none;
    margin: auto;
    padding-bottom: 50px;
  }

  .row{
    margin: 0;
    padding-bottom: 60px;
    width: auto;
  }

  img {
    max-width: 150px;
    max-height: 150px;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100vw;
    margin: auto;
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 550px) and (max-width: 1200px) {
  #steps .row,
  #why .row {
    background-color: #f9f9f9;
  }
}
